<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>College Canteen</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="img/css/my-login.css">
	<style>
		
		
		/* Set height of body and the document to 100% */
		.tab {
			color: red;
		  font-family: Arial;
		}
</style>	

</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="./img/logon.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							
							<h2 class="card-title">Welcome!!</h2>
							<h4>Login</h4>
							<form method="POST" class="my-login-validation" name="form2" action="/login" >
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" required autofocus>
								</div>
								<div class="form-group">
									<label for="password">Password <br>
										
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    
								</div>
								
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<a href="/forgot" class="float-right">
										Forgot Password?
										   </a>
										   <br>
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
										
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" >
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="/register">Create One</a>
								</div>
								
							</form>
							<form name="form1" method="GET" action="/indexShop">
								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" width="20px" height="15px">
									   Click Here for Shopkeeper panel
									</button>
								</div>
							  </form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
	<script src="./img/my-login.js"></script>
</body>
</html>
