<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">

</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="./img/logo.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="" name="form1" action="/login" >
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									
								</div>

								<div class="form-group">
									<label for="password">Password <br>
										
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    
								</div>
								<script>
								function ValidateEmail(email,password)
								{
								var mailformat = /^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@stu.upes.ac.in$/;
								var passformat = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$!%*?&])[A-Za-z\d@#$!%*?&]{6,}$/;
								if(email.value.match(mailformat))
								{
									if(password.value.match(passformat))
									{
										document.form1.text1.focus();
										return true;
									}
									else
									{alert("Password should contains atleast 6 characters consists of uppercase,lowercase,number and character");
									 document.form1.text1.focus();
									 return false;
								}
								}
								else
								{
								alert("You have entered an invalid email address!");
								document.form1.text1.focus();
								return false;
								}
								}
									</script>
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<a href="/forgot" class="float-right">
										Forgot Password?
										   </a>
										   <br>
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
										
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" onclick="return ValidateEmail(document.form1.email,document.form1.password)">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="/register">Create One</a>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
	<script src="js/my-login.js"></script>
</body>
</html>
