<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome FOODIE!!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
<style>

 .custombtn1 {
   margin-top: 195px;
   margin-left: 150px;
   font-size: 32px;
   padding: 15px;
   
 }
 .custombtn2 {
   margin-top: 195px;
   margin-left: 180px;
   font-size: 32px;
   padding: 15px;
   
 }

.image {
  display: block;
  width: 100%;
  height: 100%;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: yellow;
}
.overlay2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: yellow;
}
.overlay1:hover  {
  opacity: 1;
}
.overlay2:hover{
  opacity: 1;
}

.logoutLblPos{

position:fixed;
right:10px;
top:5px;
}
.ema{

position:fixed;
right:100px;
top:5px;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light" >

  <a class="navbar-brand" href="#"><img src="img/logo.png" width="30" height="30" ></a>
<ul>
  <form name="form1" method="get" action="/logout">
    <label class="logoutLblPos">
    <input name="submit2" type="submit" id="submit2" value="Log out">
    </label>
  </form>
<label class="ema">
  <%=Email%>
</label>
</ul>
</nav>
<form action="/selectRestraw" method="POST">
<div class="container">
  <div class="row">
      <div class="col-5">
        <img src="img/food-court-logo.png" alt="Avatar" class="image" >
  <div class="overlay1">
    <div class="btn-group" role="group" aria-label="Basic example" >
      <button type="submit" class="btn btn-primary custombtn1" name="rest" value="Food Court" >Food Court</button>
      </div>
  </div>
</div>
<div class="col-2">

</div>
  <div class="col-5">
    <img src="img/barons-logo.png" alt="Avatar" class="image">
    <div class="overlay2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-primary custombtn2" name="rest" value="Barons" >Barons</button>
      </div>
    </div>
  </div>
</div>
</div>
</form>

	<table style="background-color:#e5e5e5; width:100%; border-radius:9px">
		<tr>
			<td class="spac"><img src="img/footer/hygiene.png" alt="Hygiene" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/hot.png" alt="Hot" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/nightdel.png" alt="Late Night Delivery" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/del.png" alt="fastdel" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/fastgrow.png" alt="Fast Growing" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/bestseller.png" alt="Best Seller" height="70px" width="70px" /></td>
			<td class="spac"><img src="img/footer/offers.png" alt="Offers8" height="70px" width="70px" /></td>
		</tr>
		<tr>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">100% Hygienic</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">Hot and Fresh</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">Late Night Delivery<br />Till 14:00</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">Express Delivery</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">India's Fast Growing<br>food start-up</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">Best Seller</td>
			<td style = "color : brown; text-align : center; font-size : 13px; font-family : Arial, Helvetica, sans-serif;">Great Discounts<br />On Each Item</td>
		</tr>
	</table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
