<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.logoutLblPos{

position:fixed;
right:10px;
top:5px;
}
.ema{

position:fixed;
right:100px;
top:5px;
}

.newtable {
    margin-left: 600px;
    margin-top: 100px;
    color: red;
}
</style>
</head>
<body>

  <form align="right" name="form1" method="post" action="/logout">
    <label class="logoutLblPos">
    <input name="submit2" type="submit" id="submit2" value="Log out">
    </label>
  </form>
<label class="ema">
  <%=Email%>
</label>

<div class="container newtable">
 
      <h1 color="red"> No Orders are placed till now. </h1>
     
      <form method="get" action="/profile">
        <div class="btn-group" role="group" aria-label="Basic example" >
          <button type="submit" class="btn btn-primary" name="rest" >Click Here</button>
          </div>
          to go back and Order Something!!
      </form>
    
</div>



<div class="main">
  </div>
   
</body>
</html> 
