<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.logoutLblPos{

position:fixed;
right:10px;
top:5px;
}
.ema{

position:fixed;
right:100px;
top:5px;
}
</style>
</head>
<body>

  <form align="right" name="form1" method="post" action="log_out.php">
    <label class="logoutLblPos">
    <input name="submit2" type="submit" id="submit2" value="Log out">
    </label>
  </form>
<label class="ema">
  <%=Email%>
</label>

<div class="sidenav">
  <a href="#contact">ALL</a>
  <a href="#about">THIS MONTH</a>
  <a href="#services">LAST MONTH</a>
  <a href="#clients">INCOMPLETE</a>
  
</div>

<div class="main">
  </div>
   
</body>
</html> 
